<h1>{{title}}</h1>
<a href="/employers/create" class="btn btn-secondary">Add new Employer</a>
<section class="row">
{{#each employers}}
    <div class="card col-3 m-2">
        <div class="card-body text-center h-100">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.location}}</p>
        </div>
    </div>
{{/each}}
</section>